# config vars for the root file system
HYPRIOT_OS_VERSION="v2.3.0"
ROOTFS_TAR_CHECKSUM="a211f49419972bb7884c72f5d4f899231af9ebbf4a00e96731951b97e88e83fc"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.5.0"
RAW_IMAGE_CHECKSUM="2680f0b98a571871c8077aa0ca8fe4b47e601efada379a057ee6988bef0e42d9"

# specific versions of docker tools
# For testing a new kernel, use the CircleCI artifacts URL.
# export KERNEL_URL=https://62-32913687-gh.circle-artifacts.com/0/home/circleci/project/output/20180320-092128/raspberrypi-kernel_20180320-092128_armhf.deb
# export KERNEL_VERSION="4.19.97"
