# config vars for the root file system
HYPRIOT_OS_VERSION="v2.2.1"
ROOTFS_TAR_CHECKSUM="68c1ee47e83ffa6ea02bcf004553d2444c32bd9cd54beff5654da67632957e09"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.4.1"
RAW_IMAGE_CHECKSUM="aa99fd143f376bb776741d568096b26ffe33fb239a65c69b160220a8906feddc"

# specific versions of docker tools
# For testing a new kernel, use the CircleCI artifacts URL.
# export KERNEL_URL=https://62-32913687-gh.circle-artifacts.com/0/home/circleci/project/output/20180320-092128/raspberrypi-kernel_20180320-092128_armhf.deb
# export KERNEL_VERSION="4.19.97"
export DOCKER_CE_CHANNEL="stable" # stable, test or edge
export DOCKER_CE_VERSION="5:19.03.12~3-0~raspbian-buster"
export DOCKER_COMPOSE_VERSION="1.26.1"
export DOCKER_MACHINE_VERSION="0.16.2"
